/* Reset Styles */

  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  /* Image Carousel */
  .carousel-image {
    width: 100%;
    height: clamp(300px,50vw,500px);
    transition: transform 0.5s ease-in-out;
    
  }
  
  .carousel-image img {
    width: 100%;
    height: clamp(400px,50vw,600px);;
    object-fit: cover;
    background-color: #18018169;
  }
  
  /* Next Button */
  .next-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: rgb(252, 235, 3);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Breaking News Section */
  .breaking-news {
    display: flex;
    background-color: #180181;
    color: white;
    height: 60px;
    align-items: center;
    
    /* padding: 0 20px; */
    /* margin-top: 10px; */
  }
  
  .breaking-text {
    width: 65%;
    font-weight: bold;
    text-align: center;
    align-content: center;
    font-size: 24px;
    background-color: rgb(255, 217, 0);
    height: 100%;
    font-size: clamp(10px,2vw,20px);
  }
  
  .news-carousel {
    width: 50%;
    text-align: left;
    padding-left: 2%;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #180181;
    height: 100%;
    align-content: center;
    font-size: clamp(10px,2vw,20px);
  }
  